
<div class="container mt-4">
    <h2>Employee Table</h2>

      <p-table *ngIf="!loading" [value]="employee" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">ID</th>
              <th pSortableColumn="name">Name</th>
              <th pSortableColumn="address">Address</th>
              <th pSortableColumn="mobile">Mobile</th>
              <th pSortableColumn="mobile">Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
              <td scope="row">{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.mobile}}</td>
                <td>
                  <button pButton (click)="setUpdate(employee)" pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning" >Edit</button>
                </td>
            </tr>

        </ng-template>
        
    </p-table>
    
</div>


